In [216]:
import os
import pandas as pd
import dateutil.parser
import datetime
import numpy as np
import re
import math
import pyproj

In [3]:
os.getcwd()
all_csv = pd.read_csv('input_data\Arrest_Data_from_2010_to_Present.csv')

In [4]:
all_csv.tail()

,Report ID,Arrest Date,Time,Area ID,Area Name,Reporting District,Age,Sex Code,Descent Code,Charge Group Code,Charge Group Description,Arrest Type Code,Charge,Charge Description,Address,Cross Street,Location
1336382,5612927,04/27/2019,2355.0,21,Topanga,2125,22,M,H,22.0,Driving Under Influence,M,23152(G)VC,DUI OF ALCOHOL & DRUG,STRATHERN,CANOGA,"(34.2156, -118.5975)"
1336383,5612964,04/27/2019,1829.0,1,Central,161,30,M,W,8.0,Other Assaults,F,69PC,OBSTRUCT/RESIST EXECUTIVE OFFICER,HARBOR FY,4TH ST,"(34.0483, -118.2631)"
1336384,5612940,04/27/2019,2315.0,17,Devonshire,1797,42,M,H,4.0,Aggravated Assault,F,273.5(A)PC,CORPORAL INJURY ON SPOUSE/COHABITANT/ETC,8500 RUBIO AV,NaN,"(34.2248, -118.4967)"
1336385,5612654,04/27/2019,1555.0,18,Southeast,1832,38,F,H,4.0,Aggravated Assault,F,273.5(A)PC,CORPORAL INJURY ON SPOUSE/COHABITANT/ETC,100 E 104TH ST,NaN,"(33.942, -118.2739)"
1336386,5612691,04/27/2019,1545.0,12,77th Street,1203,32,F,B,4.0,Aggravated Assault,F,245(A)(1)PC,"ADW, NOT FIREARM, W/GBI",1600 W 52ND ST,NaN,"(33.9994, -118.3108)"

In [166]:
csv_10_11_narc.loc[csv_10_11_narc['Report ID'] == 2995789]

,Report ID,Datetime,Arrest Date,Time,Area ID,Area Name,Reporting District,Age,Sex Code,Descent Code,...,Charge Group Description,Arrest Type Code,Charge,Charge Description,Address,Cross Street,Location,Arrest Date datetime,Lat,Long
695340,2995789,12/30/2011 0955,12/30/2011,955.0,4,Hollenbeck,409,35,M,H,...,Narcotic Drug Laws,F,11377(A)HS,POSSESSION CONTROLLED SUBSTANCE,5200 REMSTOY DR,NaN,"(34.0981, -118.1674)",2011-12-30,34.2095,-118.4309

In [21]:
dateutil.parser.parse("05/03/2019 0400")

datetime.datetime(2019, 5, 3, 4, 0)

In [15]:
dateutil.parser.parse("04/27/2016 01:44:00 PM")

datetime.datetime(2016, 4, 27, 13, 44)

In [30]:
l = [1,list(range(4,7))]
print(l)

[1, [4, 5, 6]]

In [23]:
#a = all_csv.drop([1,range(4:7),range(9:25)],axis=1)

SyntaxError: invalid syntax (<ipython-input-23-c88a98f59fa8>, line 1)

In [5]:
all_csv.columns

Index(['Report ID', 'Arrest Date', 'Time', 'Area ID', 'Area Name',
       'Reporting District', 'Age', 'Sex Code', 'Descent Code',
       'Charge Group Code', 'Charge Group Description', 'Arrest Type Code',
       'Charge', 'Charge Description', 'Address', 'Cross Street', 'Location'],
      dtype='object')

In [34]:
all_csv = all_csv[['DR_NO','DATE OCC','TIME OCC','Crm Cd Desc','LAT','LON']]

In [35]:
all_csv.tail()

,DR_NO,DATE OCC,TIME OCC,Crm Cd Desc,LAT,LON
2111481,190608903,03/28/2019 12:00:00 AM,400,ARSON,34.0962,-118.3490
2111482,190715222,08/14/2019 12:00:00 AM,1810,THEFT FROM MOTOR VEHICLE - GRAND ($400 AND OVER),34.0871,-118.3732
2111483,192004409,01/06/2019 12:00:00 AM,2100,CRIMINAL THREATS - NO WEAPON DISPLAYED,34.0637,-118.2870
2111484,191716777,10/16/2019 12:00:00 AM,1800,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),34.2266,-118.5085
2111485,190805435,02/01/2019 12:00:00 AM,1615,BURGLARY FROM VEHICLE,34.0420,-118.4531

In [37]:
all_csv.shape

(2111486, 6)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [7]:
dates_datetime = np.vectorize(dateutil.parser.parse)(all_csv['Arrest Date'].values)

In [8]:
all_csv['Arrest Date datetime'] = dates_datetime

In [10]:
csv_10_11 = all_csv.loc[all_csv['Arrest Date datetime'] < datetime.datetime(2012,1,1)]

In [11]:
csv_10_11.tail()

,Report ID,Arrest Date,Time,Area ID,Area Name,Reporting District,Age,Sex Code,Descent Code,Charge Group Code,Charge Group Description,Arrest Type Code,Charge,Charge Description,Address,Cross Street,Location,Arrest Date datetime
1336367,9796816,01/19/2010,715.0,8,West LA,853,50,M,W,29.0,NaN,M,SCMC,SANTA CLARITA MUNICIPAL CODE,SANTA MONICA BL,COLBY ST,"(34.0452, -118.4529)",2010-01-19
1336369,9358332,01/19/2010,1615.0,8,West LA,842,45,M,B,12.0,Weapon (carry/poss),M,417(A)(1)PC,EXHIBIT/DRAW DEADLY WEAPON NOT A FIREARM,BARRY,WILSHIRE,"(34.0477, -118.4581)",2010-01-19
1336370,9738858,01/19/2010,1030.0,8,West LA,889,32,M,B,8.0,Other Assaults,M,243(A)PC,BATTERY ON PERSON,2000 S LA CIENEGA BL,NaN,"(34.0404, -118.377)",2010-01-19
1336372,9919836,01/19/2010,800.0,3,Southwest,361,37,F,O,6.0,Larceny,F,487(A)PC,GRAND THEFT MONEY/PROPERTY > $400,3900 GIBRALTAR AV,NaN,"(34.0161, -118.3547)",2010-01-19
1336374,9791154,01/19/2010,2200.0,8,West LA,857,37,F,O,13.0,Prostitution/Allied,M,647(B)PC,PROSTITUTION,1200 S BEVERLY DR,NaN,"(34.0546, -118.3953)",2010-01-19

In [12]:
csv_10_11.shape

(320038, 18)

In [14]:
list(set(csv_10_11['Charge Group Description'].values))

[nan,
 'Other Assaults',
 'Weapon (carry/poss)',
 'Against Family/Child',
 'Driving Under Influence',
 'Non-Criminal Detention',
 'Pre-Delinquency',
 'Vehicle Theft',
 'Homicide',
 'Miscellaneous Other Violations',
 'Burglary',
 'Disorderly Conduct',
 'Federal Offenses',
 'Prostitution/Allied',
 'Sex (except rape/prst)',
 'Moving Traffic Violations',
 'Gambling',
 'Aggravated Assault',
 'Larceny',
 'Receive Stolen Property',
 'Forgery/Counterfeit',
 'Liquor Laws',
 'Drunkeness',
 'Narcotic Drug Laws',
 'Fraud/Embezzlement',
 'Rape',
 'Disturbing the Peace',
 'Robbery']

In [261]:
csv_10_11_narc = csv_10_11.loc[csv_10_11['Charge Group Description'] == 'Narcotic Drug Laws']

In [169]:
uniq = list(set(csv_10_11_narc['Location'].values))
len(uniq)

13900

In [222]:
csv_10_11_narc.shape

(43389, 18)

In [193]:
csv_10_11_narc.tail()

,Report ID,Arrest Date,Time,Area ID,Area Name,Reporting District,Age,Sex Code,Descent Code,Charge Group Code,Charge Group Description,Arrest Type Code,Charge,Charge Description,Address,Cross Street,Location,Arrest Date datetime
695340,2995789,12/30/2011,955.0,4,Hollenbeck,409,35,M,H,16.0,Narcotic Drug Laws,F,11377(A)HS,POSSESSION CONTROLLED SUBSTANCE,5200 REMSTOY DR,NaN,"(34.0981, -118.1674)",2011-12-30
695344,2997139,12/31/2011,1155.0,14,Pacific,1413,51,M,H,16.0,Narcotic Drug Laws,F,11357(A)HS,POSSESS CONCENTRATED CANNABIS W/SP PRIOR,4TH ST,ROSE,"(33.9976, -118.4751)",2011-12-31
695345,2997477,12/31/2011,2110.0,2,Rampart,256,54,M,B,16.0,Narcotic Drug Laws,M,11357HS,POSSESSION CANNABIS,6TH ST,BONNIE BRAE,"(34.0585, -118.2724)",2011-12-31
695346,2997268,12/31/2011,1630.0,5,Harbor,529,37,M,B,16.0,Narcotic Drug Laws,M,11550HS,USE/UNDER INFLUENCE OF CONTROLLED SUBS,D ST,BROADWAY,"(33.7753, -118.2456)",2011-12-31
695355,2996269,12/30/2011,1920.0,6,Hollywood,666,35,M,B,16.0,Narcotic Drug Laws,F,11377(A)HS,POSSESSION CONTROLLED SUBSTANCE,MCCADDEN,SANTA MONICA,"(34.0944, -118.3277)",2011-12-30

In [223]:
proj = pyproj.Proj({"init" : "epsg:3311"})

In [248]:
arr_loc = csv_10_11_narc['Location'].values
lat_arr = []
long_arr = []
x_arr = []
y_arr = []
x_max = 170000
y_max = -407000
grid_size = 200
for loc in arr_loc:
    loc = loc.replace(' ','')
    loc = loc.replace('(','')
    loc = loc.replace(')','')
    lat,long = loc.split(',')
    x,y = proj(float(long),float(lat))
    lat_arr.append(lat)
    long_arr.append(long)
    x_arr.append(x)
    y_arr.append(y)

x_noise = grid_size*(0.5 - np.random.random_sample((len(x_arr,))))
y_noise = grid_size*(0.5 - np.random.random_sample((len(y_arr,))))

len(x_arr)

43389

In [262]:
csv_10_11_narc.insert(len(csv_10_11_narc.columns),'Lat',lat_arr,True)
csv_10_11_narc.insert(len(csv_10_11_narc.columns),'Long',long_arr,True)

In [263]:
csv_10_11_narc.insert(len(csv_10_11_narc.columns),'X',x_arr,True)
csv_10_11_narc.insert(len(csv_10_11_narc.columns),'Y',y_arr,True)

In [264]:
csv_10_11_narc.insert(len(csv_10_11_narc.columns),'X_noisy',x_arr + x_noise,True)
csv_10_11_narc.insert(len(csv_10_11_narc.columns),'Y_noisy',y_arr + y_noise,True)

In [252]:
csv_10_11_narc.tail()

,Report ID,Arrest Date,Time,Area ID,Area Name,Reporting District,Age,Sex Code,Descent Code,Charge Group Code,...,Address,Cross Street,Location,Arrest Date datetime,Lat,Long,X,Y,X_noisy,Y_niosy
695340,2995789,12/30/2011,955.0,4,Hollenbeck,409,35,M,H,16.0,...,5200 REMSTOY DR,NaN,"(34.0981, -118.1674)",2011-12-30,34.0981,-118.1674,169083.484611,-433650.701798,169100.460647,-433593.840171
695344,2997139,12/31/2011,1155.0,14,Pacific,1413,51,M,H,16.0,...,4TH ST,ROSE,"(33.9976, -118.4751)",2011-12-31,33.9976,-118.4751,140875.767950,-445300.240507,140863.691386,-445274.461647
695345,2997477,12/31/2011,2110.0,2,Rampart,256,54,M,B,16.0,...,6TH ST,BONNIE BRAE,"(34.0585, -118.2724)",2011-12-31,34.0585,-118.2724,159476.885092,-438224.771910,159564.580598,-438241.640554
695346,2997268,12/31/2011,1630.0,5,Harbor,529,37,M,B,16.0,...,D ST,BROADWAY,"(33.7753, -118.2456)",2011-12-31,33.7753,-118.2456,162531.749205,-469584.233621,162496.966333,-469490.856370
695355,2996269,12/30/2011,1920.0,6,Hollywood,666,35,M,B,16.0,...,MCCADDEN,SANTA MONICA,"(34.0944, -118.3277)",2011-12-30,34.0944,-118.3277,154302.370518,-434334.474561,154314.528342,-434329.603705

In [265]:
csv_10_11_narc_clean = csv_10_11_narc.loc[csv_10_11_narc['Time'] != 2400.0]

In [266]:
b = map(lambda x: math.isnan(x),csv_10_11_narc_clean['Time'].values)
csv_10_11_narc_clean = csv_10_11_narc_clean.loc[~np.array(list(b))]

In [267]:
arr_times = csv_10_11_narc_clean['Time'].values
iterer = map(lambda x: str(math.trunc(x)).rjust(4,'0'),arr_times)
arr_times_padded = list(iterer)

In [268]:
arr_dates = csv_10_11_narc['Arrest Date'].values
arr_datetime = list(map(lambda x, y: str(x)+ ' ' +y, arr_dates, arr_times_padded))
csv_10_11_narc_clean.insert(1,'Datetime',arr_datetime)

In [269]:
csv_10_11_narc_clean.shape

(43387, 25)

In [270]:
csv_10_11_narc_clean.tail()

,Report ID,Datetime,Arrest Date,Time,Area ID,Area Name,Reporting District,Age,Sex Code,Descent Code,...,Address,Cross Street,Location,Arrest Date datetime,Lat,Long,X,Y,X_noisy,Y_noisy
695340,2995789,12/29/2011 0955,12/30/2011,955.0,4,Hollenbeck,409,35,M,H,...,5200 REMSTOY DR,NaN,"(34.0981, -118.1674)",2011-12-30,34.0981,-118.1674,169083.484611,-433650.701798,169100.460647,-433593.840171
695344,2997139,12/30/2011 1155,12/31/2011,1155.0,14,Pacific,1413,51,M,H,...,4TH ST,ROSE,"(33.9976, -118.4751)",2011-12-31,33.9976,-118.4751,140875.767950,-445300.240507,140863.691386,-445274.461647
695345,2997477,12/30/2011 2110,12/31/2011,2110.0,2,Rampart,256,54,M,B,...,6TH ST,BONNIE BRAE,"(34.0585, -118.2724)",2011-12-31,34.0585,-118.2724,159476.885092,-438224.771910,159564.580598,-438241.640554
695346,2997268,12/31/2011 1630,12/31/2011,1630.0,5,Harbor,529,37,M,B,...,D ST,BROADWAY,"(33.7753, -118.2456)",2011-12-31,33.7753,-118.2456,162531.749205,-469584.233621,162496.966333,-469490.856370
695355,2996269,12/31/2011 1920,12/30/2011,1920.0,6,Hollywood,666,35,M,B,...,MCCADDEN,SANTA MONICA,"(34.0944, -118.3277)",2011-12-30,34.0944,-118.3277,154302.370518,-434334.474561,154314.528342,-434329.603705

In [271]:
csv_10_11_narc_2 = csv_10_11_narc_clean[['Report ID','Datetime','Charge Description','Lat','Long','X','Y','X_noisy','Y_noisy']]

In [272]:
csv_10_11_narc_2 = csv_10_11_narc_2.loc[csv_10_11_narc_2['Lat'] != '0.0']
csv_10_11_narc_2 = csv_10_11_narc_2.loc[csv_10_11_narc_2['Long'] != '0.0']

In [273]:
csv_10_11_narc_2 = csv_10_11_narc_2.loc[csv_10_11_narc_2['X'] < x_max]
csv_10_11_narc_2 = csv_10_11_narc_2.loc[csv_10_11_narc_2['Y'] < y_max]

In [274]:
csv_10_11_narc_2 = csv_10_11_narc_2.loc[csv_10_11_narc_2['X_noisy'] < x_max]
csv_10_11_narc_2 = csv_10_11_narc_2.loc[csv_10_11_narc_2['Y_noisy'] < y_max]

In [275]:
csv_10_11_narc_2.shape

(43283, 9)

In [276]:
csv_10_11_narc_2.tail()

,Report ID,Datetime,Charge Description,Lat,Long,X,Y,X_noisy,Y_noisy
695340,2995789,12/29/2011 0955,POSSESSION CONTROLLED SUBSTANCE,34.0981,-118.1674,169083.484611,-433650.701798,169100.460647,-433593.840171
695344,2997139,12/30/2011 1155,POSSESS CONCENTRATED CANNABIS W/SP PRIOR,33.9976,-118.4751,140875.767950,-445300.240507,140863.691386,-445274.461647
695345,2997477,12/30/2011 2110,POSSESSION CANNABIS,34.0585,-118.2724,159476.885092,-438224.771910,159564.580598,-438241.640554
695346,2997268,12/31/2011 1630,USE/UNDER INFLUENCE OF CONTROLLED SUBS,33.7753,-118.2456,162531.749205,-469584.233621,162496.966333,-469490.856370
695355,2996269,12/31/2011 1920,POSSESSION CONTROLLED SUBSTANCE,34.0944,-118.3277,154302.370518,-434334.474561,154314.528342,-434329.603705

In [213]:
#csv_10_11_narc_2.to_csv('csv_arrest_10_11.csv',index=False)

In [242]:
#csv_10_11_narc_2.to_csv('csv_arrest_10_11_masked.csv',index=False)

In [277]:
csv_10_11_narc_2.to_csv('csv_arrest_10_11_masked_noisy.csv',index=False)